bertopic==0.17.0
cvxpy==1.6.4
datasets==3.5.0
deap==1.4.2
deep_translator==1.11.4
holidays==0.69
joblib==1.4.2
kaggle==1.7.4.2
matplotlib==3.10.1
mesa==3.1.5
meteostat==1.6.8
networkx==3.4.2
nltk==3.9.1
numpy==2.2.4
pandas==2.2.3
Pillow==11.1.0
plotly==6.0.0
protobuf==6.30.2
pycountry_convert==0.7.2
pydantic==2.11.1
Requests==2.32.3
scikit_learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
simpy==4.1.1
streamlit==1.42.0
streamlit_mermaid==0.3.0
streamlit_plotly_events==0.0.6
tensorflow==2.19.0
tqdm==4.67.1
transformers==4.48.2
umap_learn==0.5.7
xgboost==3.0.0
